{% extends 'base.html' %}
{% load static %}
<head>
    {%  block script %}
        	<link href="{% static 'bootstrap/css/perfil_prestador.css' %}" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    {% endblock script %}
    <meta charset="UTF-8">
</head>
{% block container %}
<section>
    <div class="container bootstrap snippets" style="margin-top: 50px !important;">
        <div class="row" id="user-profile">
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="main-box clearfix">
                    <h2>{{ perfil.user.get_full_name }}</h2>
                    <div class="profile-status" style="color: {{ perfil.get_status.color }}">
                        <i class="{{ perfil.get_status.icone }}"></i> {{ perfil.get_status.status }}
                    </div>
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="profile-img img-responsive center-block">


                    <div class="profile-since">
                        Membro desde:<br>{{ perfil.data_cadastro| date:" d M Y"  }}
                    </div>

                    <div class="profile-details">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-tasks"></i>Serviços realizados: <span>{{ completos}}</span></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-7">
                <div class="main-box clearfix">
                    <div class="profile-header">
                        <h3 style="text-align: center"><span>Dados do Usuário</span></h3>
                    </div>

                    <div class="row profile-user-info">
                        <div class="col-sm-7">
                            <div class="profile-user-details clearfix">
                                <div class="profile-user-details-label">
                                    Nome:
                                </div>
                                <div class="profile-user-details-value">
                                    {{ perfil.user.first_name }}
                                </div>
                            </div>
                            <div class="profile-user-details clearfix">
                                <div class="profile-user-details-label">
                                    Sobrenome:
                                </div>
                                <div class="profile-user-details-value">
                                    {{ perfil.user.last_name }}
                                </div>
                            </div>

                            <div class="profile-user-details clearfix">
                                <div class="profile-user-details-label">
                                    Telefone:
                                </div>
                                <div class="profile-user-details-value">
                                    {{ perfil.user.prestador.telefone }}
                                </div>
                            </div>
                            <div class="profile-user-details clearfix">
                                <div class="profile-user-details-label">
                                    Categorias:
                                </div>
                                <div class="profile-user-details-value">
                                    {% for categoria in perfil.get_categorias %}
                                        - {{ categoria }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 profile-social">
                            <div class="media pt-2">
                                <div>
                                    <h6 style="text-align: center; padding-left: 40px !important;">Média das avaliações</h6>
                                    <div class="rating" style="padding-left: 55px !important;">
                                        {% for star in media.full %}
                                            <i class="fa fa-star profile-stars" aria-hidden="true" style="padding-right: 7px"></i>
                                        {% endfor %}
                                        {% for star in media.empty %}
                                            <i class="fa fa-star-o profile-stars" aria-hidden="true" style="padding-right: 7px"></i>
                                        {% endfor %}
                                     {{ media.media_aval }}
                                    </div>
                                </div>
                            </div>
                                <div class="my-2 p-2 bg-white rounded box-shadow">
                                    <div class="float-left" style="width:35px; line-height:1;">
                                        <div style="height:9px; margin:5px 0;">5
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="float-left" style="width:180px;">
                                        <div class="progress" style="height:9px; margin:8px 0;">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: {{ media.pb5 }}%">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="float-left" style="margin-left:10px;">{{ media.nota5 }}</div>
                                </div>
                            <div class="my-2 p-2 bg-white rounded box-shadow">
                                <div class="float-left" style="width:35px; line-height:1;">
                                    <div style="height:9px; margin:5px 0;">4
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="float-left" style="width:180px;">
                                    <div class="progress" style="height:9px; margin:8px 0;">
                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: {{ media.pb4 }}%">
                                        </div>
                                    </div>
                                </div>
                                <div class="float-left" style="margin-left:10px;">{{ media.nota4 }}</div>
                            </div>
                            <div class="my-2 p-2 bg-white rounded box-shadow">
                                <div class="float-left" style="width:35px; line-height:1;">
                                    <div style="height:9px; margin:5px 0;">3
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="float-left" style="width:180px;">
                                    <div class="progress" style="height:9px; margin:8px 0;">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: {{ media.pb3 }}%">

                                        </div>
                                    </div>
                                </div>
                                <div class="float-left" style="margin-left:10px;">{{ media.nota3 }}</div>
                            </div>
                            <div class="my-2 p-2 bg-white rounded box-shadow">
                                <div class="float-left" style="width:35px; line-height:1;">
                                    <div style="height:9px; margin:5px 0;">2
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="float-left" style="width:180px;">
                                    <div class="progress" style="height:9px; margin:8px 0;">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: {{ media.pb2 }}%">

                                        </div>
                                    </div>
                                </div>
                                <div class="float-left" style="margin-left:10px;">{{ media.nota2 }}</div>
                            </div>
                            <div class="my-2 p-2 bg-white rounded box-shadow">
                                <div class="float-left" style="width:35px; line-height:1;">
                                    <div style="height:9px; margin:5px 0;">1
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="float-left" style="width:180px;">
                                    <div class="progress" style="height:9px; margin:8px 0;">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: {{ media.pb1 }}%">

                                        </div>
                                    </div>
                                </div>
                                <div class="float-left" style="margin-left:10px;">{{ media.nota1 }}</div>
                            </div>
                        </div>
                    </div>
                    </div>
                        <h2 style="text-align: center">Avaliações</h2>
                    <div>
                        {% for avaliacao in avaliacoes %}
                        <div class="my-3 p-3 bg-white rounded box-shadow">
                            <div class="media pt-3">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="mr-2 rounded" width="32" height="32">
                                <p class="media-body pb-3 mb-0 small lh-125 col-sm-5">
                                    <strong class=" text-gray-dark">Usuário: </strong><a href="{% url 'perfis:perfil_cliente' avaliacao.usuario_id %}"> {{ avaliacao.usuario }}</a>
                                    <strong class="d-block text-gray-dark">Data: </strong>{{ avaliacao.data_pub }}
                                </p>
                                <div class="col-sm-3">
                                    <div class="rating">
                                        {% for star in avaliacao.star.full %}
                                            <i class="fa fa-star profile-stars" aria-hidden="true" style="padding-right: 7px"></i>
                                        {% endfor %}
                                        {% for star in avaliacao.star.empty %}
                                            <i class="fa fa-star-o profile-stars" aria-hidden="true" style="padding-right: 7px"></i>
                                        {% endfor %}

                                    </div>
                                    <div class="review-block-description">{{ avaliacao.comentario }}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock container %}

