<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ruffus - Sua casa, nosso lar</title>
    {% block script %}
    {% endblock %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/css/nav-bar.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>

</head>

<body style="background-color: #ecf0f1;">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mynav">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Início</a>
            </li>
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'catalogo:lista_servicos' %}">Listar todos</a>
                      {% for categoria in categorias %}
                        <a class="dropdown-item" href="{% url 'catalogo:lista_por_categoria' categoria.slug %}">{{ categoria }}</a>
                      {% endfor %}
                  </div>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'usuarios:cadastro_prestador' %}">Seja um profissional</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}" width="80" height="80" class="rounded-circle logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre nós</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">{{ user.username }}</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'usuarios:logout' %}">Sair</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'usuarios:login' %}">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'usuarios:cadastro_cliente' %}">Cadastrar</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>


    {% block messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissable" style="width: 30%; float:right; text-align: center;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{message}}</strong>
      </div>
      {% endfor %}
    {% endblock messages %}
<div class="container">
    {% block container %}
    {% endblock %}
</div>


  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>

    </body>
  </html>