{% extends "base.html" %}
{% load widget_tweaks %}
{%  load static %}

{% block script %}
      <link href="{% static 'bootstrap/css/registro_cliente.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  {% endblock %}

{% block container %}

    <div  style="margin-top: 15px;">
        <article class="card-body mx-auto" style="max-width: 400px;">
	        <h4 class="card-title mt-3 text-center">Crie uma conta</h4>
	        <p class="text-center">Comece com sua conta gratuita</p>

	        <form method="post">
                {% csrf_token %}
                 <div class="form-group input-group">
                     {{ form.username.errors }}
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		            </div>
                    {% render_field form.username class="form-control" placeholder='Nome de usuário' %}
                </div> <!-- form-group// -->
	            <div class="form-group input-group">
                    <p class="help-block"><small>{{ form.first_name.errors }}</small></p>
                    {{ form.first_name.errors }}
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		            </div>
                    {% render_field form.first_name class="form-control" placeholder='Nome' %}
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                     {{ form.last_name.errors }}
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		            </div>
                    {% render_field form.last_name class="form-control" placeholder='Sobrenome' %}
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                         {{ form.email.errors }}
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                     </div>
                     {% render_field form.email class="form-control" placeholder='Email' %}
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                         {{ form.CPF.errors }}
                        <span class="input-group-text"> <i class="fas fa-id-card"></i> </span>
                     </div>
                     {% render_field form.CPF class="form-control" placeholder='CPF' %}
                </div> <!-- form-group// -->

                <div class="form-group input-group">
                     {{ form.password1.errors }}
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    {% render_field form.password1 class="form-control" placeholder='Senha' %}
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    {% if form.password2.errors %}
                    <div class="alert alert-warning">
                        {{ form.password2.errors }}
                    </div>
                    {% endif %}
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    {% render_field form.password2 class="form-control" placeholder='Confirmação de senha' %}
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Criar Conta  </button>
                </div> <!-- form-group// -->
                <p class="text-center">Já possui uma conta? <a href="{% url 'usuarios:login' %}">Entrar</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->

    <!--
    <h2>Cadastro novo usuário</h2>
    <form method='post'>
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
                <div class="form-group {% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.auto_id }}" class="col-sm-6 sr-only"> {{field.label }}</label>
                    <div class="">
                        {% render_field field class="form-control form-control-sm" placeholder=field.label  %}
                        {% for error in field.errors %}
                            <span class="help-block"> {{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-primary " type="submit">Cadastrar</button>
        </fieldset>
    </form>
-->
{% endblock %}