{% extends 'usuarios/minha_conta_cliente.html' %}
{% load widget_tweaks %}

{% block conta %}
    <div style="padding-bottom: 80px">
        <h3 class="pull-right mb-4">Endereços</h3>
    </div>
    <div style="margin-top: -80px !important;">
    {% if not enderecos %}
        <span id="notifications" class="">
            Você não possui endereços cadastrados
        </span>
    {% else %}
    {% for endereco in enderecos %}
        <div class="my-3 p-3 bg-white rounded box-shadow" style="margin-left: -50px; ">
            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                <strong class="text-gray-dark">
                    {{ endereco.nome_rua }}
                </strong>
            </p>
            <div class="media pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="text-gray-dark">Rua: </strong>{{ endereco.nome_rua }}
                    <strong class=""><br>Complemento: </strong>{{ endereco.complemento  }}
                    <strong class=""><br>Bairro: </strong>{{ endereco.bairro }}
                    <strong class=""><br>CEP: </strong>{{ endereco.CEP }}
                </p>
            </div>
            <div class="media">
                <a href="{% url 'usuarios:editar_endereco' endereco.pk %}"> <button type="button" class="btn btn-sm btn-outline-warning" style="float: right !important; margin-right: 10px">Editar</button></a>
                <a href="{% url 'usuarios:deletar_endereco' endereco.pk %}"><button type="button" class="btn btn-sm btn-outline-danger" style="float: right !important; margin-right: 10px">Excluir</button></a>
            </div>
        </div>
    {% endfor %}
    {% endif %}
        <div style="padding-top: 50px; padding-bottom: 100px">
            <a href="{% url 'usuarios:cadastro_endereco' %}"><button class="btn btn-info">Cadastrar novo endereço</button></a>
        </div>
    </div>
{% endblock %}
