{% extends "base.html" %}
{% load widget_tweaks %}
{%  load static %}


{% block script %}
    	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  {% endblock %}

{% block container %}

	<div class="row bg-dark mb-4 my-4 text-white">
		<h2>Minha Conta</h2>
	</div>

	<div class="row">
	    <!-- side nav-->
	    <aside class="col-sm-6 col-md-3 card  my-4">
	        <h3>{{ user.get_full_name }}</h3>
	        <hr/>
	        <ul style="list-style: none">
	            <li>
	                <a href="{% url 'usuarios:dados_pessoais' %}" class="active">
    	                <span class="fa fa-user"></span>
    	                Dados pessoais
	                </a>
	            </li>
	            <li>
	                <a href="{% url 'usuarios:alterar_senha' %}">
    	                <span class="fa fa-lock"></span>
    	                Trocar senha
	                </a>
	            </li>
	            <li>
	                <a href="{% url 'usuarios:lista_enderecos' %}">
    	                <span class="fa fa-address-card"></span>
    	                Meus endereços
	                </a>
	            </li>
            {% if user.is_cliente %}
	            <li>
	                <a href="{% url 'usuarios:solicitacoes_cliente' %}">
    	                <span class="fa fa-money"></span>
    	                Minhas solicitações
	                </a>
	            </li>
            {% endif %}
	            {% if user.is_prestador %}
                <li>
	                <a href="{% url 'usuarios:categorias_prestador' %}">
	                    <span class="fa fa-briefcase "></span>
	                    Categorias
	                </a>
	            </li>
                    <li>
	                <a href="{% url 'orcamentos:solicitacoes_abertas' %}">
	                    <span class="fa fa-briefcase "></span>
	                    Solicitações de orçamento
	                </a>
	            </li>
                    </li>
                    <li>
	                <a href="{% url 'orcamentos:orcamentos-dados' %}">
	                    <span class="fa fa-briefcase "></span>
	                    Orçamentos dados
	                </a>
	            </li>
                {% endif %}
	        </ul>
	    </aside>

	    <section class="col-sm-6 col-md-8 offset-md-1" id="main-content">
	        {% block conta %}

            <h3 class="pull-right mb-4">Configurações gerais</h3>
	            <div class="row" style="padding-top: 80px">
	                <label for="notifications"></label>
                    <span id="notifications" class="">
                        Essa é a página de gerência dos seus dados.
                        Você pode escolher o que deseja fazer pelo menu lateral.
                        <br/>
                        Você pode cadastrar e alterar seu endereços, acompanhar pagamentos e pedidos de orçamento
                    </span>
                </div>

            {% endblock conta %}

	    </section>

	</div>
{% endblock %}
