{% extends 'usuarios/minha_conta_cliente.html' %}
{% load widget_tweaks %}

{% block conta %}

    <h3 class="pull-right mb-4">Categorias</h3>
    <form class="form-horizontal" method='post' style="padding-top: 80px">
        {% csrf_token %}
        <fieldset>
            <div class="row">
                <label for="notifications"></label>
                <span id="notifications" class="form-text text-muted">
                    Escolha as categorias que você deseja trabalhar. Você só receberá e solicitações de orçamento
                    nas categorias escolhidas aqui.
                </span>
                <div class="col-sm-6 my-4" style="margin: 5px">
                    <div>
                            {{ form }}
                    </div>
                </div>
            </div>
        </fieldset>
                <button class="btn btn-success align-right" type="submit">Salvar</button>

    </form>


{% endblock %}
<div>
    <h2>Escolha as categorias que você deseja trabalhar</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group input-group">
            {{ form.username.errors }}
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            {% render_field form.username class="form-control" placeholder='Username' %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Criar Conta  </button>
            </div> <!-- form-group// -->
            <p class="text-center">Já possui uma conta? <a href="">Entrar</a> </p>
        </div>
    </form>
    </div> <!-- card.// -->

