{% extends 'base.html' %}
{% load static %}
{% block script %}
<link href="{% static 'bootstrap/css/cards.css' %}" rel="stylesheet">
{% endblock %}
{% block container %}
<section class="details-card">
    <div class="container">
        <div class="row">
            {% for servico in servicos %}
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                             <a href="{% url 'orcamentos:solicitar_orcamento' servico.slug %}">
                            <img src="https://placeimg.com/380/230/any" alt="">
                            </a>
                            <!--<span><h4>heading</h4></span> -->
                        </div>
                        <div class="card-desc">
                            <h3>{{ servico.nome }}</h3>
                            <p>{{ servico.descricao }}</p>
                                <a href="{% url 'orcamentos:solicitar_orcamento' servico.slug %}" class="btn-card">Saiba mais</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}