{% extends 'usuarios/minha_conta_cliente.html' %}
{% load widget_tweaks %}

{% block conta %}
    <div style="padding-bottom: 2px">
        <h3 class="pull-right mb-4">Solicitações</h3>
    </div>
    {% if not solicitacoes %}
        <span id="notifications" class="">
            Você não possui nenhuma solicitação
        </span>
    {% else %}
    {% for solicitacao in solicitacoes %}
            <div class="my-3 p-3 bg-white rounded box-shadow" style="margin-left: -50px;">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">

                        <strong class="d-block text-gray-dark">
                            {{ solicitacao.servico }}
                        </strong>
                </p>
                                        {% if solicitacao.status == 5 or solicitacao.status == 4 or solicitacao.status == 3 %}
                        {% if  solicitacao.avaliado %}
                            <badge class="badge badge-warning" style="float: right !important;">já avaliado</badge>
                        {% endif %}
                    {% endif %}
                <div class="media pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">

                        <strong class="d-block text-gray-dark">


                                <strong>Status:</strong> <strong style="color: {{ solicitacao.get_color }}"> {{ solicitacao.get_status_display }} </strong><i style="color: {{ solicitacao.get_color }}" class="{{ solicitacao.get_icon }}" aria-hidden="true"></i>
                            <!-- <i class="fa fa-check-square" aria-hidden="true"></i> -->
                        </strong>
                        {% if solicitacao.status == 3 or solicitacao.status == 5 or solicitacao.status == 4 %}
                            {% if not solicitacao.avaliado %}
                                <a href="{% url 'avaliacoes:avaliar' solicitacao.orcamento_aceito.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary" style="float: right; margin-right: 10px">Avaliar</button></a>
                            {% endif %}
                        {% endif %}

                                <strong class="d-block">Endereco</strong>{{ solicitacao.endereco }}
                                <strong class="d-block">Hora solicitação</strong>{{ solicitacao.hora_solicitacao }}
                                <strong class="d-block"> Descrição</strong>{{ solicitacao.descricao }}
                    </p>
                </div>
                <button type="button" class="btn btn-sm btn-outline-warning" style="float: right; margin-right: 10px">Editar</button>
                <a href="{% url 'orcamentos:cancelar-solicitacao' solicitacao.pk %}"><button type="button" class="btn btn-sm btn-outline-danger" style="float: right; margin-right: 10px">Cancelar</button></a>
                <a href="{%  url 'orcamentos:orcamentos_solicitacoes' solicitacao.pk  %}"><button type="button" class="btn btn-sm btn-outline-primary">Ver orçamentos</button></a>

            </div>
    {% endfor %}
    {% endif %}
{% endblock %}
