{% extends 'catalogo/detalhe_servico.html' %}
{% load static %}
{% load widget_tweaks %}

{% block solicitacao %}
    <hr>
    <form class="form-horizontal" method='post' style="padding-top: 10px">
        {% csrf_token %}
        <fieldset>
        <label>Descrição</label>
            <div class="form-group ">
                <div class="">
                    <textarea name="descricao" id="id_descricao" required placeholder="Descreva o que você precisa" class="form-control" cols="40" rows="5"></textarea>
                </div>
            </div>
        <label>Endereço</label>
        <div class="form-group ">
            <select class="form-control" required>
                {% for e in form.endereco %}
                    <option value="{{e}}"></option>
                 {% endfor %}
            </select>
            <div class="alert-warning" style="color: red">{{ form.endereco.errors }}</div>

        </div>
       </fieldset>
        <button class="btn btn-success align-right" type="submit">Solicitar</button>
    <a style="float: right" href="{% url 'usuarios:cadastro_endereco' %}">
        Novo Endereço</a>
    </form>
{% endblock %}