{% extends 'usuarios/minha_conta_cliente.html' %}
{% load widget_tweaks %}

{% block conta %}
    <div style="padding-bottom: 80px">
        <h3 class="pull-right mb-4"></h3>
    </div>
    <div>
        {% if not orcamentos %}
            <span id="notifications" class="">
                Você não possui nenhum Orçamento
            </span>
        {% else %}
            <h4 class="border-bottom border-gray pb-2 mb-0" style="margin-top: -70px !important;">Orçamentos para
            </h4>
            {% for orcamento in orcamentos %}
                <div class="my-3 p-3 bg-white rounded box-shadow" style="margin-left: -50px; ">
                    {% if orcamento.solicitacao.status == 5 or orcamento.solicitacao.status == 4 or orcamento.solicitacao.status == 2 %}
                        {% if  orcamento.solicitacao.prestador_avaliou %}
                            <badge class="badge badge-warning" style="float: right">já avaliado</badge>
                        {% endif %}
                    {% endif %}
                    {% if orcamento.solicitacao.orcamento_aceito == orcamento %}<span class="badge badge-success" style="float: right; margin-right: 5px">Aceito</span>{% endif %}

                    <div class="media pt-3">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="mr-2 rounded" width="32" height="32">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">


                            {% if orcamento.solicitacao.orcamento_aceito == orcamento %}
                                <strong>Status:</strong> <strong style="color: {{ orcamento.solicitacao.get_color }}"> {{ orcamento.solicitacao.get_status_display }} </strong><i style="color: {{ orcamento.solicitacao.get_color }}" class="{{ orcamento.solicitacao.get_icon }}" aria-hidden="true"></i>
                            {% else %}
                                <strong>Status:</strong> <strong style="color: green"> Orçamento enviado </strong><i style="color: green" class="fa fa-clock-o" aria-hidden="true"></i>
                            {% endif %}
                        <br>
                            <strong class=" text-gray-dark">Cliente: </strong> <a href="{% url 'perfis:perfil_cliente' orcamento.solicitacao.cliente.pk %}"> {{ orcamento.solicitacao.cliente }}</a>
                            {% if orcamento.solicitacao.orcamento_aceito.prestador == user.prestador %}
                                {% if orcamento.solicitacao.status == 1 %}
                                    <br>
                                    <strong>Para ajustes de detalhes entre em contato com o cliente pelo
                                     Telefone:</strong> {{ orcamento.solicitacao.cliente.telefone }}
                                {% endif %}
                            {% endif %}
                            {% if orcamento.solicitacao.orcamento_aceito.prestador == user.prestador %}
                                {% if orcamento.solicitacao.status == 5 or orcamento.solicitacao.status == 4 or orcamento.solicitacao.status == 2 %}
                                    {% if not orcamento.solicitacao.prestador_avaliou %}
                                        <a href="{% url 'avaliacoes:avaliar_cliente' orcamento.pk %}"> <button class="btn btn-sm btn-outline-secondary" style="float: right">avaliar</button></a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            <strong class="d-block text-gray-dark">Descrição: </strong>{{ orcamento.solicitacao.descricao }}
                            <strong class="d-block text-gray-dark">Endereço: </strong>{{ orcamento.solicitacao.endereco }}

                        </p>

                        </div>
                            {% if orcamento.solicitacao.orcamento_aceito.prestador == user.prestador %}
                                {% if orcamento.solicitacao.status == 1 %}
                                    <a href="{% url 'orcamentos:confirma-realizacao' orcamento.pk %}"> <button class="btn btn-sm btn-success" style="float: right">Confirme aqui</button></a>
                                    <p style="float: right">Serviço foi já foi realizado?</p>
                                {% endif %}
                            {% endif %}
                        <a href="{% url 'orcamentos:cancelar-orcamento' orcamento.pk %}"><button type="button" class="btn btn-sm btn-outline-danger">Cancelar</button></a>
                        <a href=""><button type="button" class="btn btn-sm btn-outline-warning">Editar</button></a>
                    </div>
            {% endfor %}
        {% endif %}

    </div>


{% endblock %}
