{% extends 'usuarios/minha_conta_cliente.html' %}
{% load widget_tweaks %}

{% block conta %}
    <div style="padding-bottom: 80px">
        <h3 class="pull-right mb-4"></h3>
    </div>
    <div >
    {% if not orcamentos %}
        <span id="notifications" class="">
            Você não possui nenhum Orçamento
        </span>
    {% else %}
            <h4 class="border-bottom border-gray pb-2 mb-0" style="margin-top: -70px !important;">Orçamentos para {{ servico }}
            </h4>
    {% for orcamento in orcamentos %}
        <div class="my-3 p-3 bg-white rounded box-shadow" style="margin-left: -50px; ">
            <div class="media pt-3">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="mr-2 rounded" width="32" height="32">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class=" text-gray-dark">Prestador: </strong>{{ orcamento.prestador }}
                    <strong class="d-block text-gray-dark">Descrição: </strong>{{ orcamento.descricao }}
                </p>
                <span class="badge  badge-warning">R$ {{ orcamento.valor }}</span>
            </div>
        <a href="{% url 'orcamentos:aceitar-orcamento' orcamento.pk orcamento.solicitacao.pk %}"><button type="button" class="btn btn-sm btn-outline-success">Aceitar</button></a>
        <button type="button" class="btn btn-sm btn-outline-danger">Descartar</button>
        </div>
    {% endfor %}
    {% endif %}
    </div>
{% endblock %}
