{% extends 'usuarios/minha_conta_cliente.html' %}
{% load static %}
{% block conta %}


    {% if not solicitacoes %}
        <span id="notifications" class="">
            Não existem solicitações nas categorias em que você está cadastrado
        </span>
        {% else %}
    {% for solicitacao in solicitacoes %}
            <div class="my-3 p-3 bg-white rounded box-shadow" style="margin-left: -50px; ">
                <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                        <strong class="text-gray-dark">
                            {{ solicitacao.servico }}
                        </strong>
                </p>
                <div class="media pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="text-gray-dark">Serviço: </strong> {{ solicitacao.servico }}
                        <strong class=""><br>Endereco: </strong>{{ solicitacao.endereco }}
                        <strong class=""><br>Cliente: </strong>{{ solicitacao.cliente }}
                        <strong class="d-block">Descrição:</strong>{{ solicitacao.descricao }}
                    </p>
                </div>
                <a href="{% url 'orcamentos:novo_orcamento' solicitacao.id %}"><button type="button" class="btn btn-sm btn-outline-primary">Dar um orçamento</button></a>
            </div>
    {% endfor %}
    {% endif %}

{% endblock %}